@charset "utf-8";

html,
body,
header,
footer,
section,
h1,
h2,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4d4d4d;
    font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-feature-settings: "palt";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    background: #e9dccc;
}

/*ヘッダー*/
.logo{
    width: 28.1%;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 7% 0 2.7%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.header-nav ul{
    display: flex;
}

.header-nav ul li{
    font-size: 16px;
    color: #333333;
    font-family: "クレー One";
    text-align: center;
    width: 100px;
}

.meinview{
    width: 100%;
    padding-bottom: 125px;
}

.kasen{
    width: 86px;
    opacity: 0;
    transition: 0.5s;
}

.header-nav_text{
    text-align: center;
}

.menu:hover .kasen{
    opacity: 1;
  }

/*アバウトミー*/
.ABOUT_ME_wrap{
    margin-bottom: 258px;
}

.ABOUT_ME_word{
    display: block;
    margin: auto;
    padding-bottom: 75px;
}

.box1{
    width: 36vmin;
    height: 36vmin;
    background-color: #f5eee6;
    border-radius: 25px;
    box-shadow: 8px 8px 6px rgba(63, 63, 63, 0.25);
    display: flex;
    align-items: center; 

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}
.photo1{
    width: 90%;
    margin: auto;
}

.about_me_text1{
    font-size: 40px;
}
.name1{
    padding-left: 40px;
}
.yomi{
    font-size: 18px;
}
.name2{
    padding-left: 18px;
}
.about_me_text2{
    font-size: 16px;
    line-height: 1.75;
}
.tennsen1{
    padding: 21px 0 21px 0;
}
.about_me_text1,.about_me_text2{
    padding-left: 6px;
}
.word_wrap{
    z-index: 100;
    display: flex;
    justify-content: center;
}

.ABOUT_ME_wrap2{
    width: 427px;
    position: relative;
}

.about_button{
    width: 133px;
    height: 54px;
    font-size: 17px;
    color: #4d4d4d;
    background: #f5eee6;
    outline: 2px dashed #a8a8a8;
	outline-offset: -8px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(63, 63, 63, 0.25);
    display: flex;
    align-items: center;
    padding-left: 32px;
    position: absolute;
    bottom: 0;
    right: 0;

	transition: .3s;
}


.about_button:hover {
    color: #fff;
    background: #e26a57;
    outline: 2px dashed #fff;

    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

.about_me_text_wrap{
    margin: 100px 0 0 8%;
}

.omoi_word{
    padding-bottom: 48px;
}

.sen1{
    position: absolute;
    top: 1000px;
    width: 200%;
    z-index: -1;
}

/*ロゴ*/
.LOGO_wrap{
    margin-bottom: 365px;
}
.LOGO_word{
    width: 147px;
    display: block;
    margin: auto;
    margin-bottom: 71px;
}

.logo_wrap2{
   display: flex;
   justify-content: center;
}

.box2{
    width: 36vmin;
    height: 36vmin;
    background-color: #f5eee6;
    border-radius: 25px;
    box-shadow: 8px 8px 15px rgba(63, 63, 63, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.logo_gazou{
    width: 90%;
}

.logo_button{
    display: inline-block;
    width: 165px;
    height: 34px;
    font-family: 'ヒラギノ角ゴ ProN';
    font-size: 17px;
    color: #4d4d4d;
    background: #f5eee6;
    outline: 2px dashed #a8a8a8;
	outline-offset: -8px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(63, 63, 63, 0.25);
    text-align: center;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    right: 0;

    transition: .3s;
}
.logo_word_wrap2{
    position: relative;
    width: 420px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text2{
    padding-top: 20px;
}

.logo_button:hover {
    color: #fff;
    background: #e26a57;
    outline: 2px dashed #fff;

    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

.sen2{
    position: absolute;
    top: 1800px;
    width: 100%;
    z-index: -1;
}


/*ワークス*/
.WORKS_wrap{
    margin-bottom: 400px;
}

.WORKS_word{
    text-align: center;
    padding-bottom: 75px;
}

.works_wrap2{
   display: flex;
   justify-content: center;
}

.box3{
    width: 36vmin;
    height: 36vmin;
    background-color: #f5eee6;
    border-radius: 25px;
    box-shadow: 8px 8px 15px rgba(63, 63, 63, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.works_word_wrap2{
    width: 427px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works_button{
    display: inline-block;
    width: 165px;
    height: 34px;
    font-family: 'ヒラギノ角ゴ ProN';
    font-size: 17px;
    color: #4d4d4d;
    background: #f5eee6;
    outline: 2px dashed #a8a8a8;
	outline-offset: -8px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(63, 63, 63, 0.25);
    text-align: center;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
   
    transition: .3s;
}

.text3{
    padding-top: 20px;
}

.works_button:hover{
    color: #fff;
    background: #e26a57;
    outline: 2px dashed #fff;

    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

.sen3{
    position: absolute;
    top: 2450px;
    width: 100%;
    z-index: -1;
}

.banner_aikon:hover{
	transform: translateY(-6px);
}
.lp_aikon:hover{
    transform: translateY(-6px);
}

.modoru{
    display: block;
    margin: 0 auto;
    width: 100px;
}

/*スキル*/
.SKILL_word{
    width: 136px;
    display: block;
    margin: auto;
}

.tool_wrap{
    width: 556px;
    height: 311px;
    background-color: #f5eee6;
    border-radius: 25px;
    margin-top: 70px;
    margin: 70px auto;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.ikon_wrap1{
    display: flex;
    justify-content: space-between;
    padding: 0 118px 0 118px;
}

.skill_text{
    padding-top: 50px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}

.ai_ikon,.ps_ikon{
    padding-bottom: 21px;
}
.ai_text,.ps_text{
   text-align: center;
}

.lang_wrap{
    width: 556px;
    height: 354px;
    background-color: #f5eee6;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 352px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.ikon_wrap2{
    display: flex;
    justify-content: space-between;
    padding: 0 51px 0 51px;
}

.lang_text{
    display: flex;
    justify-content: center;
    padding-top: 53px;
    padding-bottom: 54px;
}

.html_aikon,.css_aikon,.java_aikon{
    padding-bottom: 21px;
}
.html_text,.css_text,.java_text{
    text-align: center;
}

.sen4{
   position: absolute;
   top: 3500px;
   width: 100%;
   z-index: -1;
}
.sen5{
    position: absolute;
    top: 4000px;
    width: 100%;
    z-index: -1;
}

/*コンタクト*/
.CONTACT_word{
    width: 244px;
    display: block;
    margin: auto;
    margin-bottom: 70px;
}

#name,#mail{
    width: 498px;
    height: 74px;
}

#contents{
    width: 498px;
    height: 385px;
}
#name,#mail,#contents{
    border-radius: 10px;
    border: none;
    background-color: #f9f5f0;
}
label{
    font-size: 18px;
    font-family: 'ヒラギノ角ゴ ProN';
    display: flex;
    align-items: center;
}

#name,#mail,#contents{
   margin-left: 2.4%;
   font-size: 18px;
   font-family: 'ヒラギノ角ゴ ProN';
}
#contents{
    line-height: 2;
}


.contact__item1,.contact__item2,.contact__item3{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    position: relative;
    left: -80px;
}

.contact__item2{
    margin: 31px auto;
}

input{
    font-size: 17px;
    font-family: 'ヒラギノ角ゴ ProN';
    color: #4d4d4d;
    width: 93px;
    height: 37px;
    border-radius: 18px;
    background-color: #315fac;
    border: none;
}
.submit-btn{
    display: flex;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 300px;
}

label{
    width: 150px;
    display: block;
    text-align: right;
}

.sen6{
    position: absolute;
    top: 4600px;
    width: 95%;
    z-index: -1;
}

.btn-color{
    color: #fff;
}

/*フッター*/
.footer_wrap{
    width: 100%;
    height: 130px;
    background-color: #315fac;
}

.footer_text{
    font-size: 13px;
    font-family: 'ヒラギノ角ゴ ProN';
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 61px;
}

html{
    scroll-behavior: smooth;
}


/*ロゴページ*/
.logop_wrap{
    max-width: 1000px;
    margin: 0 auto;
}

.logo_dai{
    width: 82.9%;
    padding-top: 258px;
    padding-bottom: 156px;
    display: block;
    margin: 0 auto;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.logo_omoi{
    width: 404px;
    padding-bottom: 98px;
    display: block;
    margin: 0 auto;
}

.logop_text{
    font-size: 17px;
}

.aka{
    color: #e26a57;
}
.ao{
    color: #315fac;
}

.logop_text{
    text-align: center;
    margin-bottom: 190px;
}

.dan1,.dan2,.dan3,.dan4{
    line-height: 2;
}
.dan1,.dan2,.dan3{
    padding-bottom: 50px;    
}

.dan4{
    padding-top: 50px;
}

.logo_word_sp{
    display: none;
}

.yagurumagiku{
    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

/*アバウトミーページ*/
.aboutmep_wrap{
    display: flex;
    align-items: center;
}

.photo2{
    width: 48%;
    text-align: right;
    margin-top: 169px;

    opacity: 0;
  transform: translate(0, 50px); /* フェードインで動く高さを指定 */
  transition: all 3000ms; /* フェードインにかかる時間を指定 */
}

.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
  }

.aboutmep_text_wrap{
    max-width: 1000px;
    margin-top: 169px;
    padding: 0 3.6% 0 10px;
    margin-left: auto;
    
}

.aboutmep_text1{
    font-size: 40px;
    padding-bottom: 10px;
}
.yomip{
    font-size: 18px;
}
.namep1{
    padding-left: 43px;
}
.namep2{
    padding-left: 23px;
}

.aboutmep_text2,.aboutmep_text4,.aboutmep_text6{
    font-size: 17px;
    line-height: 1.76;
}
.aboutmep_text3,.aboutmep_text5{
    font-size: 17px; 
}

.aboutmep_text2{
    padding-bottom: 40px;
}

.aboutmep_text4{
    padding-bottom: 38px;
}

.tensen2,.tensen3{
    padding: 12px 0 10px 0;
}

.tensen2{
    width: 75%;
}
.tensen3{
    width: 100%;
}

.aboutmep_wrap2{
    display: flex;
    margin-top: 153px;
    margin-bottom: 153px;
    align-items: center;
}

.about_me_text_wrap2{
    padding-left: 4.6%;
    text-align: center;
    padding-right: 10px;
}

.zensyoku_word{
    padding-bottom: 30px;
    width: 252px;
}

.zensyoku_text{
    font-size: 17px;
    line-height: 2;
}

.photo3{
    width: 48%;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 3000ms; /* フェードインにかかる時間を指定 */
}

.aboutmep_wrap3{
    text-align: center;
    margin-bottom: 143px;
}

.naze_word{
    width: 428px;
    padding-bottom: 48px;
}

.naze_text{
    font-size: 17px;
    line-height: 2;
}

.aboutmep_wrap4{
    display: flex;
    align-items: center;
    margin-bottom: 214px;
}

.omoi_word{
    width: 107px;
}

.omoi_text{
    font-size: 17px;
    line-height: 2;
}

.about_me_text_wrap3{
    text-align: center;
    padding: 0 5.6% 0 10px;
    margin-left: auto;
}

.photo4{
    width: 48%;   

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 3000ms; /* フェードインにかかる時間を指定 */
}

.photo2_sp{
    display: none;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 3000ms; /* フェードインにかかる時間を指定 */
}
.about_me_word_sp{ 
    display: none;
}

.photo3_sp{
    display: none;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 3000ms; /* フェードインにかかる時間を指定 */
}
.photo4_sp{
    display: none;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 3000ms; /* フェードインにかかる時間を指定 */
}
.kaigyou_pc{
    display: none;
}

/*ワークスページ*/
.banner_wrap{
    margin-top: 215px;
}

.banner_text{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 54px;
}

.banner_wrap2{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.banner_text2{
    padding-top: 16px;
}

.banner_aikon{
    width: 154px;
}

.lp_wrap{
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.lp_text{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 142px 0 57px 0;
}

.lp_wrap2,.lp_wrap3{
    display: flex;
    justify-content: space-between;
    margin: 0 96px;
    text-align: center;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.lp_wrap2{
    margin-bottom: 135px;
}
.lp_wrap3{
    margin-bottom: 202px;
}

.banner_wrap1_sp,.banner_wrap2_sp{
    display: none;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 3000ms; /* フェードインにかかる時間を指定 */
}
.works_word_sp{
    display: none;
}

/*バナー１*/
.banner1sp{
    display: block;
    margin: auto;
    padding-top: 159px;
    padding-bottom: 52px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.banner1_gazou{
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.banner1_koumoku_wrap1,.banner1_koumoku_wrap2,.banner1_koumoku_wrap3,.banner1_koumoku_wrap4{
    display: flex;
    font-size: 16px;
}

.bk1,.bk2,.bk3,.bk4{
    font-weight: bold;
}

.banner1_daimei{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #8e8e8e;
    width: 560px;
    margin: auto;
    padding: 0 0 23px 13px;
}

.banner1_koumoku_wrap1,.banner1_koumoku_wrap2,.banner1_koumoku_wrap3{
    border-bottom: 1px solid #8e8e8e;
    width: 560px;
    padding: 23px 0 23px 13px;
    margin: auto;
}

.banner1_koumoku_wrap4{
    padding: 20px 0 0 13px;
    width: 560px;
    margin: auto;
}

.banner1_sukima1{
    padding-left: 30px;
}

.bs1,.bs2{
    padding-left: 55px;
}
.bs3{
    padding-left: 40px;
}

.bk4{
    line-height: 1.87;
}
.bs4{
    padding-left: 23px;
    line-height: 1.87;
}

.modoru_button{
    width: 100px;
    height: 37px;
    background-color: #315fac;
    border-radius: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 160px;
}

/*バナー２*/
.banner2sp{
    display: block;
    margin: auto;
    padding-top: 159px;
    padding-bottom: 52px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.banner2_gazou{
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.banner2_koumoku_wrap1,.banner2_koumoku_wrap2,.banner2_koumoku_wrap3,.banner2_koumoku_wrap4{
    display: flex;
    font-size: 16px;
}

.bk1,.bk2,.bk3,.bk4{
    font-weight: bold;
}

.banner2_daimei{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #8e8e8e;
    width: 560px;
    margin: auto;
    padding: 0 0 23px 13px;
}

.banner2_koumoku_wrap1,.banner2_koumoku_wrap2,.banner2_koumoku_wrap3{
    border-bottom: 1px solid #8e8e8e;
    width: 560px;
    padding: 23px 0 23px 13px;
    margin: auto;
}

.banner2_koumoku_wrap4{
    padding: 20px 0 0 13px;
    width: 560px;
    margin: auto;
}

.banner2_sukima1{
    padding-left: 30px;
}

.bs1,.bs2{
    padding-left: 55px;
}
.bs3{
    padding-left: 40px;
}

.bk4{
    line-height: 1.87;
}
.bs4{
    padding-left: 23px;
    line-height: 1.87;
}

/*バナー３*/
.banner3sp{
    display: block;
    margin: auto;
    padding-top: 159px;
    padding-bottom: 52px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.banner3_gazou{
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.banner3_koumoku_wrap1,.banner3_koumoku_wrap2,.banner3_koumoku_wrap3,.banner3_koumoku_wrap4{
    display: flex;
    font-size: 16px;
}

.bk1,.bk2,.bk3,.bk4{
    font-weight: bold;
}

.banner3_daimei{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #8e8e8e;
    width: 560px;
    margin: auto;
    padding: 0 0 23px 13px;
}

.banner3_koumoku_wrap1,.banner3_koumoku_wrap2,.banner3_koumoku_wrap3{
    border-bottom: 1px solid #8e8e8e;
    width: 560px;
    padding: 23px 0 23px 13px;
    margin: auto;
}

.banner3_koumoku_wrap4{
    padding: 20px 0 0 13px;
    width: 560px;
    margin: auto;
}

.banner3_sukima1{
    padding-left: 30px;
}

.bs1,.bs2{
    padding-left: 55px;
}
.bs3{
    padding-left: 40px;
}

.bk4{
    line-height: 1.87;
}
.bs4{
    padding-left: 23px;
    line-height: 1.87;
}

/*バナー４*/
.banner4sp{
    display: block;
    margin: auto;
    padding-top: 159px;
    padding-bottom: 52px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.banner4_gazou{
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.banner4_koumoku_wrap1,.banner4_koumoku_wrap2,.banner4_koumoku_wrap3,.banner4_koumoku_wrap4{
    display: flex;
    font-size: 16px;
}

.bk1,.bk2,.bk3,.bk4{
    font-weight: bold;
}

.banner4_daimei{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #8e8e8e;
    width: 560px;
    margin: auto;
    padding: 0 0 23px 13px;
}

.banner4_koumoku_wrap1,.banner4_koumoku_wrap2,.banner4_koumoku_wrap3{
    border-bottom: 1px solid #8e8e8e;
    width: 560px;
    padding: 23px 0 23px 13px;
    margin: auto;
}

.banner4_koumoku_wrap4{
    padding: 20px 0 0 13px;
    width: 560px;
    margin: auto;
}

.banner4_sukima1{
    padding-left: 30px;
}

.bs1,.bs2{
    padding-left: 55px;
}
.bs3{
    padding-left: 40px;
}

.bk4{
    line-height: 1.87;
}
.bs4{
    padding-left: 23px;
    line-height: 1.87;
}

/*ポートフォリオサイト*/
.lp1_wrap{
    display: flex;
    justify-content: center;
    margin-top: 201px;
}

.lp1pc_gazou{
    width: 476px;
    margin-right: 25px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.lp1_koumoku_wrap1,.lp1_koumoku_wrap2,.lp1_koumoku_wrap3,.lp1_koumoku_wrap4{
    display: flex;
    font-size: 16px;
}

.bk1,.bk2,.bk3,.bk4{
    font-weight: bold;
}

.lp1_daimei{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #8e8e8e;
    width: 550px;
    margin: auto;
    padding: 0 0 23px 13px;
}

.lp1_koumoku_wrap1,.lp1_koumoku_wrap2,.lp1_koumoku_wrap3{
    border-bottom: 1px solid #8e8e8e;
    width: 550px;
    padding: 23px 0 23px 13px;
    margin: auto;
}

.lp1_koumoku_wrap4{
    padding: 20px 0 0 13px;
    width: 550px;
    margin: auto;
}

.lp1_sukima1{
    padding-left: 30px;
}

.bs1,.bs2{
    padding-left: 55px;
}
.bs3{
    padding-left: 40px;
}

.bk4{
    line-height: 1.87;
}
.bs4{
    padding-left: 23px;
    line-height: 1.87;
}
.lp1_sukima{
    padding-left: 20px;
}

.lp1_fulgazou{
    display: block;
    margin: auto;
    padding: 150px 0 100px 0;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.kaigyou_pc{
    display: none;
}

.lp1_sukima_css{
    padding-left: 20px;
}

/*Life hair design*/
.lp2_wrap{
    display: flex;
    justify-content: center;
    margin-top: 201px;
}

.lp2pc_gazou{
    width: 476px;
    margin-right: 25px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.lp2_koumoku_wrap1,.lp2_koumoku_wrap2,.lp2_koumoku_wrap3,.lp2_koumoku_wrap4{
    display: flex;
    font-size: 16px;
}

.bk1,.bk2,.bk3,.bk4{
    font-weight: bold;
}

.lp2_daimei{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #8e8e8e;
    width: 550px;
    margin: auto;
    padding: 0 0 23px 13px;
}

.lp2_koumoku_wrap1,.lp2_koumoku_wrap2,.lp2_koumoku_wrap3{
    border-bottom: 1px solid #8e8e8e;
    width: 550px;
    padding: 23px 0 23px 13px;
    margin: auto;
}

.lp2_koumoku_wrap4{
    padding: 20px 0 0 13px;
    width: 550px;
    margin: auto;
}

.lp2_sukima1{
    padding-left: 30px;
}

.bs1,.bs2{
    padding-left: 55px;
}
.bs3{
    padding-left: 40px;
}

.bk4{
    line-height: 1.87;
}
.bs4{
    padding-left: 23px;
    line-height: 1.87;
}
.lp2_sukima{
    padding-left: 20px;
}

.lp2_fulgazou{
    display: block;
    margin: auto;
    padding: 150px 0 100px 0;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

/*DESIGN CAFE*/
.lp3_wrap{
    display: flex;
    justify-content: center;
    margin-top: 201px;
}

.lp3pc_gazou{
    width: 476px;
    margin-right: 25px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.lp3_koumoku_wrap1,.lp3_koumoku_wrap2,.lp3_koumoku_wrap3,.lp3_koumoku_wrap4{
    display: flex;
    font-size: 16px;
}

.bk1,.bk2,.bk3,.bk4{
    font-weight: bold;
}

.lp3_daimei{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #8e8e8e;
    width: 550px;
    margin: auto;
    padding: 0 0 23px 13px;
}

.lp3_koumoku_wrap1,.lp3_koumoku_wrap2,.lp3_koumoku_wrap3{
    border-bottom: 1px solid #8e8e8e;
    width: 550px;
    padding: 23px 0 23px 13px;
    margin: auto;
}

.lp3_koumoku_wrap4{
    padding: 20px 0 0 13px;
    width: 550px;
    margin: auto;
}

.lp3_sukima1{
    padding-left: 30px;
}

.bs1,.bs2{
    padding-left: 55px;
}
.bs3{
    padding-left: 40px;
}

.bk4{
    line-height: 1.87;
}
.bs4{
    padding-left: 23px;
    line-height: 1.87;
}
.lp3_sukima{
    padding-left: 20px;
}

.lp3_fulgazou{
    display: block;
    margin: auto;
    padding: 150px 0 100px 0;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

/*WORKERS*/
.lp4_wrap{
    display: flex;
    justify-content: center;
    margin-top: 201px;
}

.lp4pc_gazou{
    width: 476px;
    margin-right: 25px;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.lp4_koumoku_wrap1,.lp4_koumoku_wrap2,.lp4_koumoku_wrap3,.lp4_koumoku_wrap4{
    display: flex;
    font-size: 16px;
}

.bk1,.bk2,.bk3,.bk4{
    font-weight: bold;
}

.lp4_daimei{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #8e8e8e;
    width: 550px;
    margin: auto;
    padding: 0 0 23px 13px;
}

.lp4_koumoku_wrap1,.lp4_koumoku_wrap2,.lp4_koumoku_wrap3{
    border-bottom: 1px solid #8e8e8e;
    width: 550px;
    padding: 23px 0 23px 13px;
    margin: auto;
}

.lp4_koumoku_wrap4{
    padding: 20px 0 0 13px;
    width: 550px;
    margin: auto;
}

.lp4_sukima1{
    padding-left: 30px;
}

.bs1,.bs2{
    padding-left: 55px;
}
.bs3{
    padding-left: 40px;
}

.bk4{
    line-height: 1.87;
}
.bs4{
    padding-left: 23px;
    line-height: 1.87;
}
.lp4_sukima{
    padding-left: 20px;
}

.lp4_fulgazou{
    display: block;
    margin: auto;
    padding: 150px 0 100px 0;

    opacity: 0;
    transform: translate(0, 50px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

/*サンクスページ*/
.thanks_wrap{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 200px;
}

.tyanks_word{
    width: 588px;
    margin-bottom: 74px;
}

.tyanks_text1,.tyanks_text2{
    font-size: 17px;

}

.tyanks_text1{
    margin-bottom: 41px;
}

.tyanks_text2{
    margin-bottom: 61px;
}

.TOP{
    font-size: 13px;
    color: #fff;
    width: 158px;
    height: 37px;
    background-color: #315fac;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.tyanks_word_sp{
    display: none;
}

.humberger,.sp-nav{
    display: none;
}

.sen1_sp,.sen2_sp,.sen3_sp,.sen4_sp,.sen5_sp{
    display: none;
}

/*スマホ版*/
@media screen and (max-width:1200px) {
    .sen1{
        top: 900px;
    }
    .sen2{
        top: 1600px;
    }
    .sen3{
        top: 2400px;
    }
    .sen4{
        top: 3300px;
    }
    .sen5{
        top: 3700px;
    }
    .sen6{
        top: 4500px;
    }
}

@media screen and (max-width:1100px)  {
    .header-nav{
        display: none;
    }
    .humberger{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
        height: 33px;
        z-index: 9999;
    }
    .humberger span{
        width: 40px;
        height: 3px;
        background: #4d4d4d;
        display: block;
        position: relative;
        top: 15px;
        transition: 0.3s;
    }
    .humberger span::before,.humberger span::after{
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        background: #4d4d4d;
        position: absolute;
        transition: 0.3s;
    }
    .humberger span::before{
        bottom: 15px;
    }
    .humberger span::after{
        top: 15px;
    }
    .open span{
        background: transparent;
    }
    .open span::before{
        bottom: 0px;
        transform: rotate(45deg);
        background: #fff;
    }
    .open span::after{
        top: 0px;
        transform: rotate(135deg);
        background: #fff;
    }
    .sp-nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(49, 95, 172, 0.8);
    }
    .sp-nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sp-nav ul li{
        text-align: center;
        color: #fff;
        font-size: 19px;
        padding: 50px 0;
        font-family: 'クレー One','ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;;
    }
}

@media screen and (max-width:955px) {
    .aboutmep_wrap{
        display: block;
    }
    .photo2{
        display: none;
    }
    .photo2_sp{
        display: block;
        width: 81%;
        margin: auto;
        padding-bottom: 31px;
    }
    .about_me_word_sp{
        display: block;
        margin: auto;
        padding: 120px 0 53px 0;
    }
    .aboutmep_text_wrap{
        display: block;
        margin: auto;
        padding: 0;
        width: 84%;
    }
    .aboutmep_text1{
        font-size: 40px;
    }
    .yomip{
        font-size: 18px;
    }
    .namep1{
        padding-left: 31px;
    }
    .yomip{
        padding-left: 15px;
    }
    .aboutmep_text2,.aboutmep_text3,.aboutmep_text4,.aboutmep_text5,.aboutmep_text6{
        font-size: 17px;
    }
    
    .tensen2,.tensen3{
        width: 100%;
    }
    .aboutmep_text2{
        padding: 0 0 27px 0;
    }
    .aboutmep_text4{
        padding-bottom: 19px;
    }
    
    .aboutmep_wrap2{
        display: block;
    }
    .photo3{
        display: none;
    }
    .photo3_sp{
        display: block;
        width: 81%;
        margin: auto;
        margin-bottom: 37px;
    }
    .about_me_text_wrap2{
        padding: 0;
    }
    .zensyoku_text{
        text-align: left;
        width: 84%;
        margin: auto;
    }
    .zensyoku_word{
        width: 184px;
    }
    .naze_text{
        text-align: left;
        width: 84%;
        margin: auto;
    }
    .naze_word{
        width: 84%;
    }
    .aboutmep_wrap4{
        display: block;
        margin-bottom: 89px;
    }
    .photo4{
        display: none;
    }
    .photo4_sp{
        display: block;
        width: 81%;
        margin: auto;
    }
    .omoi_word{
        width: 74px;
        padding-bottom: 28px;
    }
    .about_me_text_wrap3{
        padding: 0;
    }
    .omoi_text{
        width: 84%;
        text-align: left;
        margin: auto;
    }
    .kaigyou_sp{
        display: none;
    }
}

@media screen and (max-width:850px) {
    .contact__item1,.contact__item2,.contact__item3{
        position: initial;
    }
}

@media screen and (max-width:800px) {
    .sen1{
        top: 1600px;
    }
    .sen2{
        top: 2300px;
    }
    .sen3{
        top: 3000px;
    }
    .sen4{
        top: 4000px;
    }
    .sen5{
        top: 4300px;
    }
    .sen6{
        top: 5500px;
    }
}

@media screen and (max-width:767px) {
    .sen1,.sen2,.sen3,.sen4,.sen5,.sen6{
        display: none;
    }
    .about_me_text2,.logo_text,.works_text,.skill_text,.ai_text,.ps_text,.lang_text,.html_text,.css_text,.java_text{
        font-size: 14px;
    }
    /*トップページ*/
    .header-wrap{
        padding-top: 20px;
    }

    .meinview{
        padding-bottom: 88px;
    }
    .logo{
        width: 40%;
    }

   /*アバウトミー*/
   .ABOUT_ME_wrap{
    margin-bottom: 170px;
   }
   .ABOUT_ME_word{
    padding-bottom: 27px;
    width: 192px;
   }
    .sen1_sp{
        display: block;
        position: absolute;
        top: 1500px;
        width: 70%;
        z-index: -1;
    }
    .word_wrap{
        display: block;
    }
    .tennsen1{
        display: none;
    }
    .box1{
        width: 60vmin;
        height: 60vmin;
        margin: auto;
    }
    .ABOUT_ME_wrap2{
        width: 300px;
        height: 160px;
        margin: 0 auto;
    }
    .about_button{
        position: absolute;
        right: 0;
    }
    .about_me_text1{
        font-size: 30px;
        font-weight: bold;
    }
    .name1{
        padding-left: 30px;
    }
    .yomi{
        font-size: 13px;
    }
    .name2{
        padding-left: 13px;
    }
    .about_me_text_wrap{
        margin-top: 40px;
    }
    .omoi_text{
        padding-top: 30px;
    }

    /*ロゴ*/
    .LOGO_wrap{
        margin-bottom: 170px;
    }
    .LOGO_word{
        margin-bottom: 27px;
        width: 105px;
    }
    .logo_wrap2{
        display: block;
    }
    .box2{
        margin: 0 auto;
        width: 60vmin;
        height: 60vmin;
    }
    .logo_word_wrap2{
        width: 300px;
        height: 100px;
        display: block;
        margin: 0 auto;
        padding-top: 40px;

    }

    /*ワークス*/
    .WORKS_wrap{
        margin-bottom: 170px;
    }
    .WORKS_word{
        padding-bottom: 27px;
        width: 125px;
        margin: 0 auto;
    }
    .works_wrap2{
        display: block;
    }
    .box3{
        margin: 0 auto;
        width: 60vmin;
        height: 60vmin;
        margin-bottom: 36px;
    }
    .works_word_wrap2{
        width: 300px;
        height: 89px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .sen3_sp{
        display: block;
        position: absolute;
        top: 2600px;
        width: 100%;
        z-index: -1;
    }

    /*スキル*/
    .SKILL_word{
        width: 94px;
    }
    .tool_wrap{
        width: 282px;
        height: 145px;
        margin: 26px auto;

    }
    .ai_ikon, .ps_ikon{
        width: 54px;
    }
    .ikon_wrap1{
        padding: 0 59px;
    }
    .ai,.ps{
        text-align: center;
    }
    .skill_text{
        padding: 15px 0 10px 0;
    }

    .lang_wrap{
        width: 282px;
        height: 145px;
        margin-bottom: 200px;
    }
    .lang_text{
        padding: 17px 0 10px 0;
    }
    .ikon_wrap2{
        padding: 0 25px;
        text-align: center;
    }
    .html_aikon,.css_aikon,.java_aikon{
        width: 56px;
        padding-bottom: 10px;
    }
    .sen4_sp{
        display: block;
        position: absolute;
        top: 3400px;
        width: 100%;
        z-index: -1;
    }

    /*コンタクト*/
    .CONTACT_word{
        width: 170px;
    }
    .contact__item1, .contact__item2, .contact__item3{
        display: block;
        max-width: 256px;
    }
    #name, #mail, #contents{
        margin: 0;
        width: 256px;
    }
    .contact__list{
        text-align: center;
    }
    label{
        display: block;
        text-align: left;
        margin-bottom: 10px;
    }
    .sen5_sp{
        display: block;
        position: absolute;
        top: 4600px;
        width: 90%;
        z-index: -1;
    }

    .submit-btn{
        margin-bottom: 200px;
    }
    

    /*アバウトミーページ*/
    .aboutmep_text1{
        font-size: 31px;
    }
    .yomip{
        font-size: 14px;
    }
    .namep1{
        padding-left: 31px;
    }
    .yomip{
        padding-left: 15px;
    }
    .aboutmep_text2,.aboutmep_text4,.aboutmep_text6{
        font-size: 13px;
    }
    .aboutmep_text3,.aboutmep_text5{
        font-size: 15px;
    }

    /*ロゴページ*/
    .logo_omoi{
        width: 285px;
        padding-bottom: 32px;
    }

    .logop_text{
        padding: 0 10px;
        font-size: 13px;
        margin-bottom: 80px;
    }

    .dan3{
        padding-bottom: 25px;
    }
    .dan4{
        padding-top: 25px;
    }

    .logo_word_sp{
        display: block;
        margin: auto;
        padding: 119px 0 105px 0;
    }
    .logo_dai{
        padding: 0 0 124px 0;
    }

    /*サンクスページ*/
    .tyanks_word_sp{
        display: block;
        margin: 0 auto;
        padding: 194px 0 37px 0;
    }
    .tyanks_word{
        display: none;
    }
    .thanks_wrap{
        margin: 0 0 200px 0;
    }

    /*ワークスページ*/
    .banner_wrap2{
        display: none;
    }
    .banner_wrap1_sp,.banner_wrap2_sp{
        display: block;
    }
    .banner_wrap1_sp{
        max-width: 375px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: auto;
        margin-bottom: 54px;
        padding: 0 10px;
    }
    .banner_wrap2_sp{
        max-width: 375px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: auto;
        padding: 0 10px;
    }
    .works_word_sp{
        display: block;
        margin: auto;
        padding: 115px 0 45px 0;
    }
    .banner_wrap{
        margin: 0;
    }

    .lp_wrap2,.lp_wrap3{
        display: block;
        margin: 0;
    }
    .lp1_sppc,.lp2_sppc,.lp3_sppc{
        padding-bottom: 33px;
    }
    .lp4_sppc{
        padding-bottom: 85px;
    }
    .lp_wrap{
        font-size: 13px;
    }
    .banner_text,.lp_text{
        font-size: 20px;
    }
    .lp_text{
        margin: 0;
        padding: 82px 0 33px 0;
    }

    /*バナー1*/
    .banner1sp{
        width: 27%;
        padding: 109px 0 32px 0;
    }
    .banner1_wrap{
        max-width: 307px;
        padding: 0 10px;
        margin: auto;
    }
    .banner1_daimei{
        font-size: 17px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        margin: auto;
        padding: 0 0 19px 0;
    }
    .banner1_koumoku_wrap1,.banner1_koumoku_wrap2,.banner1_koumoku_wrap3,.banner1_koumoku_wrap4{
        font-size: 13px;
    }
    .banner1_koumoku_wrap4{
        display: block;
        padding: 19px 0 0 0;
    }
    .bs4{
        padding: 0;
        width: 307px;
    }
    .banner1_koumoku_wrap1,.banner1_koumoku_wrap2,.banner1_koumoku_wrap3{
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        padding: 19px 0 19px 0;
        margin: auto;
    }
    .banner1_gazou{
        padding: 56px 0 78px 0;
        width: 78%;
    }

    /*バナー2*/
    .banner2sp{
        width: 27%;
        padding: 109px 0 32px 0;
    }
    .banner2_wrap{
        max-width: 307px;
        padding: 0 10px;
        margin: auto;
    }
    .banner2_daimei{
        font-size: 17px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        margin: auto;
        padding: 0 0 19px 0;
    }
    .banner2_koumoku_wrap1,.banner2_koumoku_wrap2,.banner2_koumoku_wrap3,.banner2_koumoku_wrap4{
        font-size: 13px;
    }
    .banner2_koumoku_wrap4{
        display: block;
        padding: 19px 0 0 0;
    }
    .bs4{
        padding: 0;
        width: 307px;
    }
    .banner2_koumoku_wrap1,.banner2_koumoku_wrap2,.banner2_koumoku_wrap3{
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        padding: 19px 0 19px 0;
        margin: auto;
    }
    .banner2_gazou{
        padding: 56px 0 78px 0;
        width: 78%;
    }

    /*バナー3*/
    .banner3sp{
        width: 27%;
        padding: 109px 0 32px 0;
    }
    .banner3_wrap{
        max-width: 307px;
        padding: 0 10px;
        margin: auto;
    }
    .banner3_daimei{
        font-size: 17px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        margin: auto;
        padding: 0 0 19px 0;
    }
    .banner3_koumoku_wrap1,.banner3_koumoku_wrap2,.banner3_koumoku_wrap3,.banner3_koumoku_wrap4{
        font-size: 13px;
    }
    .banner3_koumoku_wrap4{
        display: block;
        padding: 19px 0 0 0;
    }
    .bs4{
        padding: 0;
        width: 307px;
    }
    .banner3_koumoku_wrap1,.banner3_koumoku_wrap2,.banner3_koumoku_wrap3{
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        padding: 19px 0 19px 0;
        margin: auto;
    }
    .banner3_gazou{
        padding: 56px 0 78px 0;
        width: 78%;
    }

     /*バナー4*/
     .banner4sp{
        width: 27%;
        padding: 109px 0 32px 0;
    }
    .banner4_wrap{
        max-width: 307px;
        padding: 0 10px;
        margin: auto;
    }
    .banner4_daimei{
        font-size: 17px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        margin: auto;
        padding: 0 0 19px 0;
    }
    .banner4_koumoku_wrap1,.banner4_koumoku_wrap2,.banner4_koumoku_wrap3,.banner4_koumoku_wrap4{
        font-size: 13px;
    }
    .banner4_koumoku_wrap4{
        display: block;
        padding: 19px 0 0 0;
    }
    .bs4{
        padding: 0;
        width: 307px;
    }
    .banner4_koumoku_wrap1,.banner4_koumoku_wrap2,.banner4_koumoku_wrap3{
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        padding: 19px 0 19px 0;
        margin: auto;
    }
    .banner4_gazou{
        padding: 56px 0 78px 0;
        width: 78%;
    }

    /*lp1*/
    .lp1_wrap{
        display: block;
        margin: 0;
        padding-top: 117px;
    }
    .lp1pc_gazou{
        width: 95%;
        display: block;
        margin: auto;
        padding-bottom: 28px;
    }
    .lp1_wrap2{
        max-width: 307px;
        display: block;
        margin: auto;
    }
    .lp1_daimei{
        font-size: 25px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        margin: auto;
        padding: 0 0 19px 0;
    }
    .lp1_koumoku_wrap1,.lp1_koumoku_wrap2,.lp1_koumoku_wrap3{
        font-size: 13px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        padding: 19px 0 19px 0;
        margin: auto;
    }
    .lp1_koumoku_wrap4{
        display: block;
        padding: 19px 0 0 0;
        font-size: 13px;
    }
    .kaigyou_pc{
        display: block;
    }
    .lp1_sukima_css{
        padding: 0;
    }
    .bs3{
        padding-left: 10px;
        line-height: 1.76;
    }
    .bk3,.bs1,.bk1{
        line-height: 1.76;
    }
    .lp1_fulgazou{
        padding-top: 72px;
        width: 82%;
    }

    /*lp2*/
    .lp2_wrap{
        display: block;
        margin: 0;
        padding-top: 117px;
    }
    .lp2pc_gazou{
        width: 95%;
        display: block;
        margin: auto;
        padding-bottom: 28px;
    }
    .lp2_wrap2{
        max-width: 307px;
        display: block;
        margin: auto;
    }
    .lp2_daimei{
        font-size: 25px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        margin: auto;
        padding: 0 0 19px 0;
    }
    .lp2_koumoku_wrap1,.lp2_koumoku_wrap2,.lp2_koumoku_wrap3{
        font-size: 13px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        padding: 19px 0 19px 0;
        margin: auto;
    }
    .lp2_koumoku_wrap4{
        display: block;
        padding: 19px 0 0 0;
        font-size: 13px;
    }
    .bs3{
        padding-left: 45px;
    }
    .lp2_fulgazou{
        padding-top: 72px;
        width: 82%;
    }

    /*lp3*/
    .lp3_wrap{
        display: block;
        margin: 0;
        padding-top: 117px;
    }
    .lp3pc_gazou{
        width: 95%;
        display: block;
        margin: auto;
        padding-bottom: 28px;
    }
    .lp3_wrap2{
        max-width: 307px;
        display: block;
        margin: auto;
    }
    .lp3_daimei{
        font-size: 25px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        margin: auto;
        padding: 0 0 19px 0;
    }
    .lp3_koumoku_wrap1,.lp3_koumoku_wrap2,.lp3_koumoku_wrap3{
        font-size: 13px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        padding: 19px 0 19px 0;
        margin: auto;
    }
    .lp3_koumoku_wrap4{
        display: block;
        padding: 19px 0 0 0;
        font-size: 13px;
    }
    .bs3{
        padding-left: 45px;
    }
    .lp3_fulgazou{
        padding-top: 72px;
        width: 82%;
    }

    /*lp4*/
    .lp4_wrap{
        display: block;
        margin: 0;
        padding-top: 117px;
    }
    .lp4pc_gazou{
        width: 95%;
        display: block;
        margin: auto;
        padding-bottom: 28px;
    }
    .lp4_wrap2{
        max-width: 307px;
        display: block;
        margin: auto;
    }
    .lp4_daimei{
        font-size: 25px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        margin: auto;
        padding: 0 0 19px 0;
    }
    .lp4_koumoku_wrap1,.lp4_koumoku_wrap2,.lp4_koumoku_wrap3{
        font-size: 13px;
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        padding: 19px 0 19px 0;
        margin: auto;
    }
    .lp4_koumoku_wrap4{
        display: block;
        padding: 19px 0 0 0;
        font-size: 13px;
    }
    .bs3{
        padding-left: 45px;
    }
    .lp4_fulgazou{
        padding-top: 72px;
        width: 82%;
    }
}

@media screen and (max-width:640px) {
    .sen1_sp{
        top: 1200px;
        width: 80%;
    }
    .sen2_sp{
        display: block;
        position: absolute;
        top: 2000px;
        width: 100%;
        z-index: -1;
    }
    .sen3_sp{
        top: 2700px;
    }
    .sen4_sp{
        top: 3400px;
    }
    .sen5_sp{
        top: 4300px;
    }
}

@media screen and (max-width:600px) {
    .sen1_sp{
        top: 1100px;
    }
    .sen2_sp{
        top: 2000px;
    }
    .sen3_sp{
        top: 2700px;
    }
    .sen4_sp{
        top: 3300px;
    }
    .sen5_sp{
        top: 4300px;
    }
}

@media screen and (max-width:525px) {
    .sen1_sp{
        top: 1000px;
    }
    .sen2_sp{
        top: 1800px;
    }
    .sen3_sp{
        top: 2500px;
    }
    .sen4_sp{
        top: 3100px;
    }
    .sen5_sp{
        top: 4100px;
    }
}

@media screen and (max-width:460px) {
    .sen1_sp{
        top: 900px;
        width: 100%;
    }
    .sen2_sp{
        top: 1700px;
    }
    .sen3_sp{
        top: 2300px;
    }
    .sen4_sp{
        top: 2900px;
    }
    .sen5_sp{
        top: 3950px;
        width: 95%;
    }
}

@media screen and (max-width:410px) {
    .sen1_sp{
        top: 800px;
    }
    .sen2_sp{
        top: 1600px;
    }
    .sen3_sp{
        top: 2100px;
    }
    .sen4_sp{
        top: 2700px;
    }
    .sen5_sp{
        top: 3800px;
    }
}

@media screen and (max-width:375px) {
    .sen1_sp{
        top: 750px;
    }
    .sen2_sp{
        top: 1400px;
    }
    .sen3_sp{
        top: 2000px;
    }
    .sen4_sp{
        top: 2600px;
    }
    .sen5_sp{
        top: 3700px;
    }
}

.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
  }

  .top_menu:hover .kasen,.about_me_menu:hover .kasen,.logo_menu:hover .kasen,.works_menu:hover .kasen,.skill_menu:hover .kasen,.contact_menu:hover .kasen{
    opacity: 1;
  }